*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid coral;
  transition: all 0.2s ease-in;
}

button:hover {
  background-color: coral;
  border: 1px solid coral;
  color: white;
}

th,
td {
  text-align: center;
  padding: 5px 10px;
}

.app-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid coral;
}

.filter {
  padding: 20px;
  margin-bottom: 10px;
}

.loading {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(249, 249, 249, 0.8);
}
.loading.active {
  display: block;
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.active {
  display: flex;
}

.form {
  border-radius: 15px;
  text-align: center;
  padding: 30px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
}

.form h3 {
  margin-bottom: 15px;
}

.form input {
  margin-bottom: 10px;
  padding: 5px 10px;
}

.upload-img {
  display: flex;
  flex-direction: column;
}

.upload-img label,
.upload-img input {
  padding: 0;
  text-align: left;
  margin-bottom: 10px;
}

.d-none {
  display: none;
}

.highlighted {
  background-color: coral;
}

.c-pointer {
  cursor: pointer;
}
