*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid coral;
}

button:hover {
  background-color: coral;
  border: 1px solid coral;
  color: white;
}

table {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

thead {
  display: flex;
  flex-direction: column;
}

tr {
  display: flex;
  flex-wrap: nowrap;
  flex: 0;
}

table,
tr,
th,
td {
  text-align: center;
  border-spacing: 0;
  font-size: 14px;
  word-break: break-all;
}
th {
  word-break: normal;
}
th,
td {
  display: flex;
  align-items: center;
  justify-content: center;
}
table button {
  border-radius: 0;
  border: 1px solid white;
}

.app-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid coral;
}

.filter {
  padding: 20px;
  margin-bottom: 10px;
}

.loading {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(249, 249, 249, 0.8);
}
.loading.active {
  display: block;
}

.popup {
  overflow-y: scroll;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.active {
  display: flex;
}

.form {
  border-radius: 15px;
  text-align: center;
  padding: 30px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
}

.form h3 {
  margin-bottom: 15px;
}

.form input {
  margin-bottom: 10px;
  padding: 5px 10px;
}

.form label {
  text-align: left;
  margin-bottom: 5px;
}

.upload-img {
  display: flex;
  flex-direction: column;
}

.upload-img label,
.upload-img input {
  padding: 0;
  text-align: left;
  margin-bottom: 10px;
}

.d-none {
  display: none;
}

.highlighted {
  background-color: coral;
}

.c-pointer {
  cursor: pointer;
}

.delivery:hover {
  background-color: blanchedalmond;
}
.product-img-header,
.product-img {
  max-width: 50px;
  width: 100%;
}
.productTitleProvider-header,
.productTitleProvider {
  min-width: 300px;
  max-width: 300px;
  /* width: 100%; */
}
.warehouse-header,
.warehouse {
  max-width: 185px;
  width: 100%;
}
.articleNumberOzon-header,
.articleNumberOzon {
  max-width: 185px;
  width: 100%;
}
.articleNumberOzon {
  font-size: 13px;
}
.articleNumberProvider-header,
.articleNumberProvider {
  max-width: 185px;
  width: 100%;
}
.provider-header,
.provider {
  max-width: 185px;
  width: 100%;
}
.numberInBox-header,
.minimum-header,
.productInTransit-header,
.availableToSale-header,
.fullCount-header,
.delivery-header,
.volume-header,
.volume-summ-header,
.numberInBox,
.minimum,
.productInTransit,
.availableToSale,
.fullCount,
.delivery,
.volume,
.volume-summ {
  max-width: 50px;
  width: 100%;
}

.update-header,
.update {
  max-width: 32px;
  width: 100%;
}

button#update-product {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
}
